.w-screen {
  width:$w-screen;
  margin:auto;
  padding-left: $pad;
  padding-right: $pad;
}
.row {
  // background: white;
  margin-left: -$pad;
  margin-right: -$pad;
  margin-bottom: $pad *2;
  &:after {
    @extend .clr
  }
}
.columns {
    float:left;
    // padding-right: $pad*2; // if you want your columns to be at start of the container
    padding-right: $pad;
    padding-left:$pad;
    // padding-left: $pad;
    height: 100px;
    &:after {
      box-sizing:border-box;
    }
    .row &:last-of-type {
    // padding-right: 0;
    // padding-left:$pad*2;// if you want your columns to be at start of the container
  }
}
// @for $i from 1 through $total_columns {
//     @include multi_grid($total_columns,$i);
// }
@for $i from 1 through $total_columns {
    @include multi_grid($total_columns,$i,$breakpoint-1);
}

@if $total_columns == 10 {
  .w33.columns{
    width:33.3333%;
  }
  .w66.columns {
    width:66.666%;
  }
  .w25.columns {
    width:25%;
  }
  .w75.columns {
    width:75%;
  }
  @include grid_warning;

}

@media screen and (max-width:$breakpoint-2){
  @for $i from 1 through $total_columns {
    @include multi_grid($total_columns,$i,$breakpoint-2);
  }
}
@media screen and (max-width:$breakpoint-3){
  @for $i from 1 through $total_columns {
    @include multi_grid($total_columns,$i,$breakpoint-3);
  }
}




